f1nalisys/webapp/Corridas/comment_validator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Comment" type="Comment_Type"/>
    <xs:complexType name="Comment_Type">
        <xs:sequence>
            <xs:element name="Title">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Texto">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="400"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="season">
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1990"/>
                    <xs:maxInclusive value="2020"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
</xs:schema>